PAGE_SIZE=
RATE_LIMIT=
BASE_MEDIA_URL=
HOST_NAME= # localhost by default

DATABASE_TOKEN=
DATABASE_URL=
DATABASE_MANAGER_FILENAME= # e.g. UserDatabaseTurso (without extension), will errors if file not found