# Backend API Base Endpoint
BASE_URL=http://localhost:3000

# Cloud Asset CDN Base Endpoint
CLOUD_URL=https://nagicloud.uk

# Sentry Crash Reporting Configuration
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
ENVIRONMENT=development
